.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.not-found__title {
  margin: 0;
  margin-top: 100px;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}

.not-found__text {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.not-found__btn {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  margin-top: 184px;
  margin-bottom: 40px;
}

.not-found__btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 850px) {
  .not-found__btn {
    margin-top: auto;
  }
}
