.login-form__container {
  padding: 70px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 396px;
}

.login-form__logo {
  width: 38px;
  height: 38px;

  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.login-form__logo:hover {
  opacity: 0.7;
}

.login-form__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 40px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  min-height: 380px;
}

.login-form__btn-signin {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: #000;
  color: #fff;
  height: 45px;
  border: none;
  margin-top: auto;
  border-radius: 3px;
  cursor: pointer;

  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.login-form__btn-signin:hover {
  opacity: 0.7;
}

.login-form__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding-top: 16px;
  color: #a0a0a0;
}

.login-form__link {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.login-form__field {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  position: relative;
}

.login-form__field-label {
  display: block;
}

.login-form__input {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 100%;
  height: 46px;
  border: none;
  outline: none;
}

.login-form__input:focus {
  outline: solid 1px #a0a0a0;
  outline-offset: -1px;
}

.login-form__input-error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  color: #ff4062;
  position: absolute;
  top: 72px;
  left: 0;
}

.login-form__btn-signin[disabled] {
  background-color: #ccc;
  color: #999;
  cursor: default;
}

.login-form__btn-signin[disabled]:hover {
  opacity: 1;
}

@media screen and (max-width: 850px) {
  .login-form__container {
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 480px) {
  .login-form__container {
    padding-top: 56px;
    padding-bottom: 30px;
    max-width: 260px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }

  .login-form__title {
    text-align: center;
    padding: 50px 0 80px 0;
  }

  .login-form__logo {
    margin: 0 auto;
  }
}
